// Carousel

// $carousel-control-color:                      $white !default;
$carousel-control-color:                      red !important;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;

$carousel-indicator-width:                    30px !default;
$carousel-indicator-height:                   3px !default;
$carousel-indicator-spacer:                   3px !default;
// $carousel-indicator-active-bg:                $white !default;
$carousel-indicator-active-bg:                red !important;

$carousel-caption-width:                      70% !default;
$carousel-caption-color:                      $white !default;
$carousel-caption-color-primary:              $brand-primary !default;

$carousel-control-icon-width:                 20px !default;

$carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition:           transform .6s ease-in-out !default;

.car-box {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 999;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;

    background-size: cover;// заполняется блок по width and height
    //background-size: contain;// влазит вся картинка (вмещается)в блок
}
.carousel-caption {
  position: absolute;
  right: ((100% - $carousel-caption-width) / 2);
  bottom: 20px;
  left: ((100% - $carousel-caption-width) / 2);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  // color: $carousel-caption-color;
  color: $brand-primary !important;
  text-align: center;
  &--primary {
    color: $carousel-caption-color-primary;
  }
}
