// @import "variables.scss";
// Styling for the navbar
#mainNav {
    // background-color: $gray-darker;
    background-color: transparent;;
    .navbar-toggler {
        border: 0;
        color: white;
        background-color: $themePrimary;
        font-size: 12px;
        text-transform: uppercase;
        @include heading-font;
        padding: 13px;
        right: 0;
    }
    .container {
        padding: 0;
        .navbar-brand {
            color: $themePrimary;
            @include script-font;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: darken($themePrimary, 10%);
            }
        }
        .navbar-nav {
            .nav-item {
              // width: 50%;
              // background: $gray-base;
              // opacity: .85;
              // display: inline-block;
              // text-align: center;
              // border-bottom: 1px solid $white;

              // border-bottom-color: $white;
                .nav-link {

                    font-size: 90%;
                    padding: 0.75em 0;
                    @include heading-font;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: $white;
                    &:hover,
                    &.active {
                        // color: $theme-primary;
                        color:$themeHover;
                    }
                }
            }
        }
    }
}
@media(max-width:991px) {
  #mainNav {
      // background-color: $gray-darker;
      background-color: transparent;;
      .navbar-toggler {
          border: 0;
          color: white;
          background-color: $themePrimary;
          font-size: 12px;
          text-transform: uppercase;
          @include heading-font;
          padding: 13px;
          right: 0;
      }
      .container {
          padding: 0;
          .navbar-brand {
              color: $themePrimary;
              @include script-font;
              &:hover,
              &:focus,
              &:active,
              &.active {
                  color: darken($themePrimary, 10%);
              }
          }
          .navbar-nav {
              .nav-item {
                width: 75%;
                background: $grayBase;
                opacity: .85;
                display: inline-block;
                text-align: center;
                border-bottom: 1px solid $white;
                  .nav-link {

                      font-size: 90%;
                      padding: 0.75em 0;
                      @include heading-font;
                      font-weight: 400;
                      letter-spacing: 1px;
                      color: $white;
                      &:hover,
                      &.active {
                          // color: $theme-primary;
                          color:$themeHover;
                      }
                  }
              }
          }
      }
  }
}
@media(min-width:992px) {
  #mainNav {
        background-color: transparent;
        padding: 25px 0;

        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 1.75em;
            transition: all 0.3s;
        }
        .navbar-nav {
            .nav-item {
              width: 100%;
              background: transparent;
              opacity: 1;
              display: block;
              text-align:left;
              border-bottom: none;

                .nav-link {
                    padding: 1.1em 1em !important;
                    // font-size: 90%;
                    // padding: 0.75em 0;
                    // @include heading-font;
                    // font-weight: 400;
                    // letter-spacing: 1px;
                    color: $themePrimary !important;
                    &:hover,
                    &.active {
                        // color: $theme-primary;
                        color:$themeHover !important;
                        border-bottom: 1px solid $themeHover;
                }
            }
        }
        &.navbar-shrink {
            background-color: $grayDarker;
            padding: 0;
            .navbar-brand {
                padding: 12px 0;
                font-size: 1.25em;
            }
        }
    }
  }
}

// Styling for the masthead
header.masthead {
    background-image: url('../images/overlay3_web.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: $white;
    .intro-text {
        padding-top: 6rem;
        padding-bottom: 3rem;
        // padding-top: 100px;
        // padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
            text-shadow: 1px 1px 2px #000;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: $font-size-h2;
            line-height: 50px;
            margin-bottom: 25px;
            text-shadow: 1px 1px 3px #000 , 2px 2px 9px $themePrimary;
        }
        &__link {
          display: inline-block;
          // margin-top: 3rem;
          font-size: 1.2rem;
          border: 2px solid $themePrimary;
          &:hover,:focus,:active {
            opacity: .8;
            color: $themeHover;
            border-color: $themeHover;
          }
        }
    }
}

@media(min-width:768px) {
  header {
    height: 100vh;
    }
    header.masthead {
        .intro-text {
            padding-top: 12rem;
            padding-bottom: 18rem;
            // padding-top: 300px;
            // padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: $display4-size;
                // line-height: 75px;
                line-height: $headings-line-height;
                margin-bottom: 50px;
                text-shadow: 2px 2px 3px #000 0 0 1em indigo;
            }
            &__link {
              display: inline-block;
              margin-top: 3rem;
              font-size: 2rem;
              border: 2px solid $themePrimary;
              &:hover,:focus,:active {
                opacity: .8;
                color: $themeHover;
                border-color: $themeHover;
              }
            }
        }
    }

}
